:root {
    --text-color: #658ad4;
    --link-color: #4a76ee;
    --background-color: hsl(212, 70%, 65%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

header {
    margin-bottom: 2rem;
    background-color: #283d52;
    padding: 1rem 0;
    color: white;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

p.subtitulo {
    font-size: 1.2rem;
    color: #3b76ad;
    margin-top: 0.5rem;
    text-align: center;
    font-weight: 500;
}

/*Barra de nav */
nav {
  padding: 0 50px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav p {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ee5d4a;
}

header h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5rem;
    color: var(--text-color);
}

/* Sección Sobre mí */
#sobre-mi {
  max-width: 900px;
  margin: 0 auto 3rem auto;
}

#sobre-mi h2 {
  font-size: 2.5rem;
  text-shadow: 1px 1px 4px #a0c4ff;
  margin-bottom: 1.5rem;
  text-align: left;
}

.sobre-mi-contenido {
  display: flex;

  gap: 2rem;
}

.sobre-mi-contenido img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  flex-shrink: 0;
}

.sobre-mi-contenido p {
  flex: 1;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}


@media (max-width: 700px) {
  .sobre-mi-contenido {
    flex-direction: column;
    text-align: center;
  }

  .sobre-mi-contenido img {
    margin-bottom: 1rem;
    width: 150px;
  }
}

/* Cajita de habilidades + conocimientos */
.separador {
  max-width: 400px;
  margin: 0 auto 3rem auto;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  padding: 0 20px;
}

/* Seccion de habilidades */
#habilidades {
    flex: 1;
    padding: 2rem;
    background-color: #f0f4ff;
    border-radius: 8px;
}

#habilidades h2 {
  font-size: 2rem;
  color: #4a76ee;
  margin-bottom: 1.5rem;
}

#habilidades ul {
  list-style: none;
  margin: 0;
}

#habilidades li {
  padding: 0.5rem 0;
  font-size: 1.1rem;
  color: #333;
}

/* Seccion de conocimientos */
#conocimientos {
    flex: 1;
    padding: 2rem;
    background-color: #f0f4ff;
    border-radius: 8px;
  }

#conocimientos h2 {
  font-size: 2rem;
  color: #4a76ee;
  margin-bottom: 1.5rem;
}

.tecnologias {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.tecnologias img {
  width: 80px;
  height: auto;
}

.tecnologias h3 {
  margin: 0;
  color: #4a76ee;
}

.tecnologias p {
  margin-left: 1rem;
  font-size: 1.1rem;
  color: #333;
}

